<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="wlpage">
      <h1>Welcome to Authentication Demo App</h1>
      <a href="/users/register">Open the Registration Page</a>
    </header>
    
  </body>
</html>