<!DOCTYPE html>
<html>
  <head>
    <title>BCRYPT</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="main">
      <h1>Login Successful</h1>
    </header>
  </body>
</html>

