<!DOCTYPE html>
<html>
  <head>
    <title>BCRYPT</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div>
    <header class="header">
      <nav class="flex">
        <ul>
          <li>
            <a href="/users">User</a>
          </li>
        </ul>
        <ul class="flex">
          <li><a href="/users/login">Login</a></li>
          <li><a href="/users/register">Register</a></li>
        </ul>
      </nav>
    </header>
  </div>
  </body>
</html>